:root{
  --bg-color: #292626dc;
  --bg-color2: #4b4646dc;

}
body{
  background-color: var(--bg-color);
}

body::-webkit-scrollbar{
  width: 0.25rem;
}

body::-webkit-scrollbar-track-piece{
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb{
  background: #292626dc;
}

::-webkit-scrollbar-corner {
  background-color: #292626dc; 
}

#img-container{
  max-width: 100%;
}

  #img-container{
    margin-left: 10px;
    margin-right: 10px;
   
  #img{
    height: 650px;
    max-width: 102%;
    background-color: var(--bg-color);
    display: block;
    transition: opacity .3s linear;
    opacity: .5;
    transition: all .3s ease-in-out;
    position: relative;
    text-align: center;
    color: white;
  }
  #img-col{
    transition: all .3s ease-in-out;
    h1{
      transition: .2s ;
      text-transform: uppercase;
    }
  }
  #img-col:hover, #img:hover{
    opacity: 10;
    cursor: pointer;
    transform: scale(1.1); 
    h1{
      cursor: pointer;
      font-size: 80px;
      transition: .2s ease-in-out;
    }
  }
  .img-about{
    margin-left: 5px;
  }
  .img-contact{
    margin-left: -5px;
  }
 

  .about {
    position: absolute;
    bottom: 285px;
    left: 165px;
    
  }
  .project{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .contact{
    position: absolute;
    bottom: 285px;
    right: 165px;
  }
 
}

